/**
* Lightbox
*/
#lightbox {
    top: 10%;
    left: 0;
    width: 80vw;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border-radius: 2.5%;
    border-color: blue;
    animation: lightboxOpen 0.5s forwards;

}

#lightbox.open {
    opacity: 1;
    visibility: visible;
} 

